extends ../../layouts/default.pug

block main 
   h1(class="mb-4") Danh sách tài khoản
   .card.mb-3.tox 
    .card-header Danh sách 
    .card-body 
      .row 
        .col-8 
        .col-4.text-right
          a(
            class="btn btn-outline-success"
            href=`${prefixAdmin}/accounts/create`
          ) + Thêm mới 
      table(class="table table-sm table-hover")
          thead
            tr
              th STT
              th Avatar
              th Họ tên 
              th Phân quyền
              th Email
              th Trạng thái
              th Hành động
          tbody
            if(records.length > 0)
              each item, index in records 
                tr 
                  td #{index + 1} 
                  td(styles="overflow: hidden")
                    img(src=item.avatar alt=item.fullName width="100px" height="auto") 
                  td #{item.fullName}
                  td #{item.role} 
                  td #{item.email} 
                  td
                    if(item.status === "active")
                      a(href="javascript:;" 
                      button-change-status data-status=item.status data-id=item.id class="badge badge-success") Hoạt động 
                    else
                      a(href="javascript:;"
                      button-change-status data-status=item.status data-id=item.id class="badge badge-danger") Dừng hoạt động 
                  td 
                    a(
                      class="btn btn-secondary btn-sm ml-1"
                      href=`${prefixAdmin}/accounts/detail/${item.id}`
                    ) Chi tiết 
                    a(
                      class="btn btn-warning btn-sm ml-1"
                      href=`${prefixAdmin}/accounts/edit/${item.id}`
                    ) Sửa 
                    button(
                      class="btn btn-danger btn-sm ml-1"
                    ) Xóa