extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000) 
  +alert-error(5000) 
  h1(class="mb-4") Phân quyền 
  if(records)
    div(data-records=records)
    div(class="text-right tox")
        button(
            type="submit"
            class="btn btn-primary mb-3"
            button-submit
        ) Cập nhật
    table(class="table table-hover table-sm tox" table-permissions)
        thead
          tr
            th Tính năng
            each record in records
              th(class="text-center") #{record.title}
        tbody
          tr(data-name="id" class="d-none") 
            td 
            each record in records
              td(class="text-center")
                input(type="text" value=record.id)
          //-Danh mục sản phẩm
          tr 
            td(colspan="4")
              b Danh mục sản phẩm
          tr(data-name="products-category_view")
            td Xem
            each record in records 
              td(class="text-center")
                input(type="checkbox") 
          tr(data-name="products-category_create")
            td Thêm mới 
            each record in records 
              td(class="text-center")
                input(type="checkbox") 
          tr(data-name="products-category_edit")
            td Chỉnh sửa 
            each record in records 
              td(class="text-center")
                input(type="checkbox") 
          tr(data-name="products-category_delete")
            td Xóa 
            each record in records 
              td(class="text-center")
                input(type="checkbox") 
          //-Sản phẩm
          tr 
            td(colspan="4")
              b Danh mục sản phẩm
          tr(data-name="products_view")
            td Xem
            each record in records 
              td(class="text-center")
                input(type="checkbox") 
          tr(data-name="products_create")
            td Thêm mới 
            each record in records 
              td(class="text-center")
                input(type="checkbox") 
          tr(data-name="products_edit")
            td Chỉnh sửa 
            each record in records 
              td(class="text-center")
                input(type="checkbox") 
          tr(data-name="products_delete")
            td Xóa 
            each record in records 
              td(class="text-center")
                input(type="checkbox")
          //-Nhóm quyền
          tr 
            td(colspan="4")
              b Nhóm quyền
          tr(data-name="roles_view")
            td Xem
            each record in records 
              td(class="text-center")
                input(type="checkbox") 
          tr(data-name="roles_create")
            td Thêm mới 
            each record in records 
              td(class="text-center") 
                input(type="checkbox") 
          tr(data-name="roles_edit")
            td Chỉnh sửa 
            each record in records 
              td(class="text-center")
                input(type="checkbox") 
          tr(data-name="roles_delete")
            td Xóa 
            each record in records 
              td(class="text-center")
                input(type="checkbox")  
          tr(data-name="roles_permissions")
            td Phân quyền 
            each record in records 
              td(class="text-center")
                input(type="checkbox")  
  else
    span(class="mr-4 text-center") Hiện tại chưa có nhóm quyền nào: 
    a(
        class="btn btn-outline-success"
        href=`${prefixAdmin}/roles/create`
    ) + Thêm mới nhóm quyền
  
  form(
    class="d-none"
    id="form-change-permission"
    method="POST"
    action=`${prefixAdmin}/roles/permissions?method_PATCH`
  )
    div(class="form-group")
      input(type="text" class="form-control" name="permissions")
  script(src="/admin/js/roles.js")