extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
  //Dùng chung layout-default nên phải Templete Inheritance
  
  .container.my-3 

      include ../../partials/list-btn-users.pug

      .row 
        .col-12 
          +box-head("Danh sách bạn bè")

      .row(data-users-friend=user.id)
        each user in users
         .col-6(user-id=user.id)
          .box-user
            .inner-avatar
              img(src=(user.avatar ? user.avatar : '/images/avatar.png') alt=user.fullName)
            .inner-info
              .inner-name #{user.fullName}
              .inner-buttons 
                a(href=`/chat/${user.infoFriend.room_chat_id}` class='btn btn-sm btn-primary mr-1') Nhắn tin
                button(class='btn btn-sm btn-danger mr-1' btn-deleteFriend-friend=user.id) Xóa kết bạn
            div(class='inner-status' status=user.statusOnline)
              i(class='fa-solid fa-circle')

            
block script
  script(type='module' src="/js/users.js")